# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/

# Build output (agar koi bundler use kar rahe ho)
dist/
build/

# Optional: npm cache
.npm
